<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form action="http://node-exp-rest-api-demo-demo2.apps.na45.prod.nextcle.com/users" method="post" class="login-box" id="formy">
      <h1>Login</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" name="username">
      </div>

      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="password">
      </div>

      <input type="submit" id="sub-btn" class="btn" value="Sign in">

      <a href='./register.html'><input type="button" class="btn" value="Sign Up Now"></a>
    </form>
    <script>
      // const submitBtn = document.getElementById('sub-btn');
      // const form = document.getElementById('formy');
      // submitBtn.addEventListener('click', () => {
      //   form.submit();
      // })
    </script>
  </body>
</html>
